<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAn_NguyenThaiBao_K17CNTT.Properties.Settings.DoAn_NguyenThaiBaoConnectionString"
            connectionString="Data Source=.;Initial Catalog=DoAn_NguyenThaiBao;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DoAn_NguyenThaiBao_K17CNTT.Properties.Settings.B1ConnectionString"
            connectionString="Data Source=.;Initial Catalog=B1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>